[submodule "awesome-tab"]
	path = awesome-tab
	url = git@github.com:manateelazycat/awesome-tab.git
[submodule "emacs-application-framework"]
	path = emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "org-roam"]
	path = org-roam
	url = git@github.com:org-roam/org-roam.git
[submodule "org-pandoc-import"]
	path = org-pandoc-import
	url = git@github.com:tecosaur/org-pandoc-import.git
[submodule "org-roam-ui"]
	path = org-roam-ui
	url = git@github.com:org-roam/org-roam-ui.git
